section.clients
  .clients__container.container
    span.clients__title Our Clients Say
    span.clients__text Our in - house search engine experts deliver profitable Google, Bing, Yahoo Ranking.
    .clients__slider.swiper-container
        .swiper-wrapper
          .swiper-slide.clients__slide
            p.clients__slide-text At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint  cupiditate non provident.
            img.clients__slide-img(src=require("images/client-1.png"), alt="client")
            span.clients__slide-name Selena Roy
            span.clients__slide-specialty UI Designer
          .swiper-slide.clients__slide
            p.clients__slide-text At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint  cupiditate non provident. 
            img.clients__slide-img(src=require("images/client-1.png"), alt="client")
            span.clients__slide-name Selena Roy
            span.clients__slide-specialty UI Designer
          .swiper-slide.clients__slide
            p.clients__slide-text At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint  cupiditate non provident.
            img.clients__slide-img(src=require("images/client-1.png"), alt="client")
            span.clients__slide-name Selena Roy
            span.clients__slide-specialty UI Designer
          .swiper-slide.clients__slide
            p.clients__slide-text At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint  cupiditate non provident.
            img.clients__slide-img(src=require("images/client-1.png"), alt="client")
            span.clients__slide-name Selena Roy
            span.clients__slide-specialty UI Designer
          .swiper-slide.clients__slide
            p.clients__slide-text At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint  cupiditate non provident.
            img.clients__slide-img(src=require("images/client-1.png"), alt="client")
            span.clients__slide-name Selena Roy
            span.clients__slide-specialty UI Designer
        .swiper-pagination